.contact{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px
}
.contact-form{
    width: 80%;
}
.contact-title{
    font-size: 25px;
}
#contact-btn{
    width: 50%
}
#contact-comment{
    height:100px;
    line-height: 20px;
}