.abt-content{
    margin: 0px;
}
.written-about{
    font-size: 25px;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.image-about {
    width: 250px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.image-join{
    width: 300px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}
@media screen and (max-width:765px){
    .image-about{
        display: none;
    }
}