.contact{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 70px;
}
.contact-form{
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
}
.contact-title{
    font-size: 30px;
}
#contact-name, #contact-email{
    width: 200px;
    text-align: left;
}
#contact-comment{
    height:100px;
    line-height: 20px;
}
#contact-btn{
    margin: 10%
}
