.navbar { 
    width: 100%;
    overflow: visible;
    text-align: center;
    align-content: center;
    background-color: seashell;
    /* margin-left: auto;
    margin-right: auto; */
} 
.mx-auto{
    width: 100%;
} 
.navbar-nav{
    justify-content: center;
    align-content: center;
    text-align: center;
    /* margin-right: auto;
    margin-left: center; */

}
.logo{
    height: 50px;
    width: auto;
}

