.address-info {
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: 300px;
}
.address{
    font-size: 20px;
    width: 300px
}
.locations{
    margin-left: auto;
    margin-right: auto;
}
.map-dump{
    background: #fff;

}
.title-location{
    color: #fff;
    font-size: 40px;
    margin-top: 30px;
}
.map{ 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}