/* CSS Page for all Branding */
@import url("https://use.typekit.net/zrl6oix.css");

/* Uncomment for parallax */
/* body{ 
    background-color: lightcoral;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("./utils/images/bg_parallax.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat; 
} */
a{
    text-decoration: none;
}
p{
    color: #333;
}
body{
    background-color: #ca8081;   
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.card {
    background-color: rgb(100%, 100%, 100%);
    padding: 30px;
}
.curs-txt{
    font-family: 'timberline', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.reg-txt {
    font-family: 'jaf-bernina-sans-condensed', sans-serif;
    font-weight: 300;
    font-style: normal;
}
.head{
    color: seashell;

}
.btn, .signUp-btn, .button{
    background-color:  #ca8081;
    color: #fff;
    border: none;
    margin-top: 3px;
    border-radius: 50%;
    width: 100px;
    height:100px;
}
.btn:hover{
    background-color: white;
    color: #ca8081;
    border: none;
}
.sign-up-box{
    background-color: #363636;
    padding: 10px;
    /* margin-top: 1%; */
}
.colored-txt{
    color: #ca8081;
}
.contact-box{
    background-color: lightgray;
    padding: 10px;
}
.form-control{
    background-color: #E2A5A6;
    color: #fff;
}
/* #sign-up-btn{
    position: relative;
    top: -30px;
    right: 20px;
} */
.music_bg{
    background-image: url("./utils/images/bg_music.png") ;
    
}
.heading{
    z-index: -10;
}
